.about-us-section .title {
    margin: 50px;
    font-size: 50px;
    font-weight: bolder;
    position: relative;
    text-align: center;
    color: darkblue;
}

.about-us-section .container {
    width: 80%;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 0;
}

.about-us-section ._1 {
    background-color: rgb(214, 129, 190);
    margin: 40px 0px 40px auto;
}


.about-us-section ._2 {
    background-color: rgb(144, 109, 193);
    margin: 40px auto 40px 0;
}

.about-us-section ._3 {
    background-color: rgb(109, 193, 129);
    margin: 40px 0px 40px auto;
}

.about-us-section ._4 {
    background-color: rgb(151, 162, 110);
    margin: 40px auto 40px 0px;
}

.about-us-section ._5 {
    background-color: rgb(190, 119, 100);
    margin: 40px 0px 40px auto;
}


.about-us-section ._1 .heading1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(253, 253, 253);
    padding: 20px;

}

.content {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(46, 46, 96);
}