@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    background-color: #ffffff !important;
}

.aBH1 {
    color: #1f0662;
    font-weight: bolder;
    border-bottom: 4px solid #180255;
}

.container {
    border-radius: 15px;
    text-align: left;
    width: 240px;
    position: relative;
    margin: 10px 5px;
    padding: 20px;
    background-color: #ece8e8da;
    transition: all 0.4s ease-out;
    /* width: 280px; */
    box-shadow: 2px 5px 10px rgba(145, 145, 145, 0.502);
}

.container .box-image img {
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    transition: all 0.4s ease-out;
}

.container .box-text .name {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    padding-top: 10px;
    color: #02052b;
    text-align: center;
}

.container .box-text .disp {
    position: relative;
    padding: 5px;
}

.container .box-text .disp .catg {
    color: #757575;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1.5px;
    width: 95%;
}

.bMark {
    padding: 0 !important;
    position: absolute !important;
    width: 24px !important;
    right: -13px ;
    color: #1d4395d1 !important;
}

.disp {
    position: relative;
}

.btn {
    color:  #1d4395d1;
    padding: 1px 8px;
    border-radius: 9px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border: 3px solid  #1d4395d1;
}
 
.container .box-text .disp .rating {
    position: absolute;
    right: 0px;
}


.container .box-text .disp .btn:hover {
    transform: scale(1.125);
    color: #e1e8f7;
    background-color: #1d4395;
    filter: drop-shadow(0 10px 5px rgba(253, 253, 253, 0.125));
    transition: all .5s ease-in-out;
    border: 3px solid  #1d4395d1;
}

.filterBtn {
    overflow: scroll;
    margin-bottom: 50px;
}

.filterBtn .btn {
    margin: 10px;
    background-color: #eef5fc;
    color: #264d8b;
    border: 1px solid #264d8b;
    letter-spacing: 1px;
    line-height: 5px;
    border-radius: 10px;
    width: auto;
    width: auto;
    height: 30px;
    /* overflow: scroll; */
    white-space: nowrap;
}

.filterBtn::-webkit-scrollbar {
    display: none;
}