@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

#header, #about-container {
    position: relative;
    margin: 20px;
    padding: 80px 90px;
    background-color: #f7f6f9;
    border-radius: 20px;
    display: flex;
    gap: 80px;
    overflow: hidden;
}

#featuredB {
    padding: 0 !important;
}

.ctr {
    min-height: 100vh;
    padding: 10px;
    background-color: #d9d4e7;
    font-family: 'Poppins', sans-serif;
}

/* header section */

#header .left-header {
    width: 55%;
}

#header .right-header img {
    display: inline-block;
    width: 110%;
    height: 90%;
}

#header .right-header img {
    display: inline-block;
    width: 100%;
}

#header .left-header span {
    color: #635985;
    font-size: 18px;
    text-transform: capitalize;
}

#header .left-header h3 {
    padding-top: 10px;
    color: #130f40;
    font-size: 35px;
    line-height: 40px;
    font-weight: bolder;
    text-transform: capitalize;
}

#header .left-header p {
    padding: 10px 0px;
    color: #494262;
    font-size: 14px;
    line-height: 25px;
}

.ordbtn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg, #494262, #6e6592);
    border-radius: 10px;
    border: none;
}

.ordbtn a {
    color: #f7f6f9;
    text-decoration: none;
}

.ordbtn:hover {
    background: linear-gradient(135deg, #6e6592, #494262);
}

/* category section */

#category-container {
    padding: 10px;
    display: flex;
    text-transform: capitalize;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    margin-left: 100px;
    margin-right: 100px;
}

#category-container .category-container-box {
    margin: 5px;
    padding: 10px 35px;
    text-align: center;
    border-radius: 15px;
    background-color: #f7f6f9;
    transition: all 0.4s ease-out;
}

#category-container .category-container-box:hover {
    background-color: #d4cceae6;
    transform: translateY(-4px);
}

#category-container .category-container-box img {
    display: inline-block;
    width: 70px;
    height: 70px;
}

#category-container .category-container-box h3 {
    font-size: 20px;
    color: #130f40;
    white-space: nowrap;
}

#category-container::-webkit-scrollbar {
    display: none;
}

/* About-Container Section */

#about-container {
    gap: 40px !important;
}

#about-container .left-about-container {
    width: 40%;
}

#about-container .left-about-container img {
    display: inline-block;
    width: 100%;
}

#about-container .right-about-container {
    width: 60%;
}

#about-container .right-about-container span {
    color: #52389b;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-transform: capitalize;
}

#about-container .right-about-container h3 {
    color: #130f40;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bolder
}

#about-container .right-about-container p {
    color: #494262;
    padding: 15px 0px;
    line-height: 30px;
    font-size: 14px;
}

#about-container .right-about-container-icons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#about-container .right-about-container-icons-box {
    width: 200px;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
    background-color: #edecf2;
    border-radius: 15px;
    transition: all 0.4s ease;
    align-items: center;
    justify-content: center;
}

#about-container .right-about-container-icons-box img {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#about-container .right-about-container-icons-box h3 {
    font-size: 16px !important;
}

#about-container .right-about-container-icons-box:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

/* popular section */

#popular-container {
    padding: 40px 40px;
}

#popular-container .popular-container-heading {
    padding-bottom: 20px;
    text-align: center;
}

#popular-container .popular-container-heading span {
    color: #52389b;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
}

#popular-container .popular-container-heading h3 {
    color: #130f40;
    font-size: 30px;
    font-weight: bold;
}

#popular-container .featured {
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* media queries */

@media (min-width: 1100px){
    #popular-container .featured .container {
        width: 17%;
    }
}

@media (max-width: 1100px){

    #header, #about-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #header .left-header, #about-container .right-about-container {
        width: 85%;
    }

    #header .right-header img {
        width: 75%;
        margin-left: 50px;
    }

    #category-container .category-container-box img {
        width: 40px;
        height: 40px;
    }

    #category-container .category-container-box h3 {
        font-size: 12px;
    }

    #popular-container {
        padding: 40px 10px;
    }

    #popular-container .featured .container {
        width: 22%;
    }

}

@media (max-width: 750px){
    #header, #about-container {
        padding: 80px 50px;
    }

    #category-container { 
        margin-left: 25px;
        margin-right: 25px;
    }

    #about-container .right-about-container-icons-box h3 {
        font-size: 12px !important; 
    }

    #popular-container .featured .container {
        width: 30%;
    }
}

@media (max-width: 580px){

    #header .left-header span {
        font-size: 15px;
    }

    #header .left-header h3 {
        font-size: 25px;
    }

    #header .right-header img {
        margin-left: 0;
        width: 100%;
    }

    #header .left-header, #about-container .right-about-container {
        width: 100%;
    }

    #about-container .right-about-container-icons-box h3 {
        font-size: 14px;
    }

    #about-container .right-about-container span,
    #about-container .right-about-container h3,
    #popular-container .popular-container-heading span,
    #popular-container .popular-container-heading h3 {
        font-size: 20px;
    }

    #popular-container .featured .container {
        width: 45%;
    }
}

@media (max-width: 300px){
    #popular-container .featured .container {
        width: 80%;
    }
}