.auth-form-container {
    position: relative;
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    /* height: 900px; */
    /* align-items: center; */
}

body {
    background-color: #080710;
    position: relative;
    /* align-items: center; */
}

.form {
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    left: 10%;
    width: 80%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    display: flex;
    flex-direction: row;
}

.separate {
    width: 50%;
    position: relative;
    top: 100px;
}

.change {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 14px;
}

.link-btn {
    margin-left: 15px;
}

.login-form h3 {
    font-weight: bold;
    margin-top: 100px;
    font-size: 2.5rem;
}

.login-form h1 {
    padding-top: 20px;
    padding-left: 130px;
    font-weight: bolder;
    font-size: 3rem;
    color: #1d4395;
}

.register-form h3 {
    font-weight: bold;
    margin-top: 100px;
    font-size: 2.5rem;
}

.register-form h1 {
    padding-top: 20px;
    padding-left: 130px;
    font-weight: bolder;
    font-size: 3rem;
    color: #1d4395;
}

@media only screen and (max-width: 900px) {
    .form {
        position: relative;
        left: 0;
        width: 100%;
    }

    .auth-form-container {
        padding: 50px;
        position: relative;
        /* align-items: center; */
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
}

@media only screen and (max-width: 900px) {
    .form {
        position: relative;
        left: 0;
        width: 100%;
    }

    .auth-form-container {
        padding: 30px;
        position: relative;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
}

.form h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(252, 251, 251);
    border-radius: 1px solid gray;
    color: gray;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #808080;
}

.form .btn {
    margin-top: 50px;
    margin-left: 140px;
    width: 150px;
    background-color: #1d4395d1;
    border-radius: 100px;
    color: #f7f6fc;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.link-btn {
    background: white;
    border: 1px solid #080710;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    color: rgb(14, 13, 13);
    /* text-decoration: underline; */
}

.auth-img {
    width: 400px;

}